.query-list table{
    text-align: left;
    border-collapse: collapse;
    border: 1px #b8b8b8 solid;
    margin: auto;
}
.query-list h2.display-3 {
    position: relative;
}
.home-link {
    position: absolute;
    top: 50%;
    right: 0;
}
.query-list .title,
.query-list .desc {
    min-width: 250px;
}
.query-list td,
.query-list th{
    border-bottom: 1px #b8b8b8 solid;
    border-top: 1px #b8b8b8 solid;
    padding: 5px;
}
.query-list tr{
    height: 35px;
    transition: background .25s;
}
.query-list tr:hover{
    background: #eee;
}
.query-list .status.done:after{
    content: '✓';
}
